body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1 {
    font-style: italic;
}
.bookListItem {
    color: grey;
    padding-top: 3px;
    font-size: 15px;
}

.error {
    color: red;
    font-size: 15px;
    padding: 5px;
}